
.ticketTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid 1px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: left;
    vertical-align: middle;
}

.ticketTable td, .ticketTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.ticketTable tr:nth-child(even){background-color: #f2f2f2;}

.ticketTable tr:hover {background-color: #ddd;}

.ticketTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1a6487b0;
    color: white;
    font-weight: bold;
    text-shadow: 0.5px 0 0 #000, 0 -0.5px 0 #000, 0 0.5px 0 #000, -0.5px 0 0 #000;
}
